<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--<add key="DriverPath" value="D:\Mon_projet\winForms\bin\Debug\net8.0-windows\" />-->
		<add key="OutputPath" value="D:\Mon_projet\winForms" />
		<add key="LogLevel" value="Info" />
		<add key="ProcedureOptions" value="Appel d'offres ouvert" />
		<add key ="CategoriePrincipale" value="Travaux"/>

		<add key="DateStart" value="29/08/2024" />
		<add key="DateEnd" value="29/08/2024" />

		<add key="TotalNumber" value="500" />

		<!--Taille de la page de resultat-->
		<add key="PageSize" value="500" />
		
		<!--informations utilisateur-->
		<add key="Nom" value=""/>
		<add key="Prenom" value=""/>
		<add key="Email" value=""/>
		<add key="ResSocial" value=""/>
		<add key="ICE" value=""/>
		<add key ="Adresse" value=""/>
		<add key="AdresseSuite" value=""/>
		<add key="Cd" value=""/>
		<add key="Ville" value=""/>
		<add key="Tel" value=""/>
		<add key="Fax" value=""/>
	</appSettings>
</configuration>
